@model OBPostupy.Models.Races.Race

@{
    ViewData["Title"] = "Delete";
}
    <div class="page-content">
        <h1>Smazat závod</h1>

        <h3>Opravdu chcete smazat závod?</h3>
        <div>
            <h4>Závod</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.StartTime)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.StartTime)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="ID" />
                <input type="submit" value="Smazat" class="btn btn-danger" /> |
                <a asp-controller="Home" asp-action="Index">Zpět na hlavní stránku</a>
            </form>
        </div>
    </div>
